In [1]:
import pandas as pd

In [2]:
seri1 = pd.read_csv('sarkicilar.csv')

In [4]:
seri1.head(5)

                                     Category: All categories
Week       Taylor Swift: (Turkey)  İbrahim Tatlıses: (Turkey)
2019-04-21 25                                              77
2019-04-28 29                                              84
2019-05-05 19                                              54
2019-05-12 14                                              61

In [5]:
len(seri1)

53

In [ ]:
# Gomulu fonksiyonlar python serilerinde kullanilabildigi gibi Pandas serilerinde de kullanilabilirler
# Gomulu fonk. basina birsey yazmaya gerek yoktur

In [17]:
seri2 = pd.read_csv('gunler.csv')

In [ ]:
# Seriyi dict'e cevirme istersek dcit() kullaniriz

In [25]:
sozluk1 = dict(seri2)

In [26]:
sozluk1

{'Gunler': 0      Pazartesi
 1           Sali
 2       Carsamba
 3       Persembe
 4           Cuma
          ...
 245    Pazartesi
 246         Sali
 247     Carsamba
 248     Persembe
 249         Cuma
 Name: Gunler, Length: 250, dtype: object,
 'Kumbara': 0        1
 1        2
 2        3
 3        4
 4        5
       ...
 245    246
 246    247
 247    248
 248    249
 249    250
 Name: Kumbara, Length: 250, dtype: int64}

In [27]:
seri2.tail(3)

       Gunler  Kumbara
247  Carsamba      248
248  Persembe      249
249      Cuma      250

In [24]:
sorted(seri1)

['Category: All categories']

In [19]:
sorted(seri2)

['Gunler', 'Kumbara']

In [21]:
len(seri2)

250

In [ ]:
# Seri Siralama 2 turlu yapilabilir
# 1- pandas sort_values ile
# 2- python sorted ile

In [28]:
seri2.sort_values('Gunler') # seriyi pandas ile siralama

       Gunler  Kumbara
93   Carsamba       94
128  Carsamba      129
163  Carsamba      164
205  Carsamba      206
135  Carsamba      136
..        ...      ...
190      Sali      191
15       Sali       16
134      Sali      135
155      Sali      156
141      Sali      142

[250 rows x 2 columns]

In [29]:
sorted(seri2['Gunler']) # gomulu fonk ile siralama

['Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Carsamba',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cuma',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Cumartesi',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazar',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Pazartesi',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Persembe',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali',
 'Sali']

In [31]:
seri3 = pd.read_csv('gunler.csv', usecols=['Kumbara'], squeeze=True)

In [32]:
seri3

0        1
1        2
2        3
3        4
4        5
      ...
245    246
246    247
247    248
248    249
249    250
Name: Kumbara, Length: 250, dtype: int64

In [33]:
sorted(seri3)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250]

In [34]:
seri3.sort_values()

0        1
1        2
2        3
3        4
4        5
      ...
245    246
246    247
247    248
248    249
249    250
Name: Kumbara, Length: 250, dtype: int64

In [35]:
sorted(seri3, reverse=True)

[250,
 249,
 248,
 247,
 246,
 245,
 244,
 243,
 242,
 241,
 240,
 239,
 238,
 237,
 236,
 235,
 234,
 233,
 232,
 231,
 230,
 229,
 228,
 227,
 226,
 225,
 224,
 223,
 222,
 221,
 220,
 219,
 218,
 217,
 216,
 215,
 214,
 213,
 212,
 211,
 210,
 209,
 208,
 207,
 206,
 205,
 204,
 203,
 202,
 201,
 200,
 199,
 198,
 197,
 196,
 195,
 194,
 193,
 192,
 191,
 190,
 189,
 188,
 187,
 186,
 185,
 184,
 183,
 182,
 181,
 180,
 179,
 178,
 177,
 176,
 175,
 174,
 173,
 172,
 171,
 170,
 169,
 168,
 167,
 166,
 165,
 164,
 163,
 162,
 161,
 160,
 159,
 158,
 157,
 156,
 155,
 154,
 153,
 152,
 151,
 150,
 149,
 148,
 147,
 146,
 145,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 116,
 115,
 114,
 113,
 112,
 111,
 110,
 109,
 108,
 107,
 106,
 105,
 104,
 103,
 102,
 101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [36]:
seri3.head(3)

0    1
1    2
2    3
Name: Kumbara, dtype: int64

In [37]:
ters = sorted(seri3, reverse=True)

In [38]:
ters.head(3)

AttributeError: 'list' object has no attribute 'head'

In [39]:
seri3.sort_values(ascending=False)

249    250
248    249
247    248
246    247
245    246
      ...
4        5
3        4
2        3
1        2
0        1
Name: Kumbara, Length: 250, dtype: int64